*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container--menu {
  height: 1676px;
}

body {
  margin: 0;
  position: relative;
}

.spiner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  z-index: 1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: lol 1.5s linear 0ms;
          animation: lol 1.5s linear 0ms;
}

@-webkit-keyframes lol {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes lol {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.main-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header--menu {
  height: 19%;
}

.logo-container {
  width: 100%;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container--menu {
  height: 19%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo-container--menu__content {
  height: 100%;
  width: 70%;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place-container {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaeaff;
}

.place-container__texts {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.place-container__texts__text {
  margin-left: 8%;
}

.hero-container {
  background-color: #f6f6f6ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 285px;
}

.hero-container__content-frame {
  width: 80%;
  height: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-container__content-frame--image {
  width: 100%;
  height: 100%;
}

.hero-container--image {
  width: 100%;
  height: 81%;
}

.hero-image-container {
  width: 100%;
  height: 100%;
}

.hero-text-container {
  text-align: center;
}

.hero-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header {
  width: 90%;
  height: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.little-cards-frame {
  width: 90%;
  height: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.little-cards-frame__content {
  height: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.little-cards-frame__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80%;
}

.little-cards-frame__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28%;
  margin-left: 10px;
  border-radius: 16px;
  border-style: none;
  background-color: #f6f6f6ff;
  -webkit-box-shadow: 2px 8px 8px #eaeaeaff, -2px 0px 8px #eaeaeaff;
          box-shadow: 2px 8px 8px #eaeaeaff, -2px 0px 8px #eaeaeaff;
}

.little-cards-frame__card--alt-color {
  background-color: #f2eafb;
}

.little-cards-text-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.big-cards-frame {
  height: 1226px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6ff;
}

.big-cards-frame__content {
  height: 90%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-cards-frame__cards-container {
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-cards-frame__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  width: 100%;
  height: 23%;
}

.big-cards-frame__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 8px 8px #eaeaeaff, -2px 0px 8px #eaeaeaff;
          box-shadow: 2px 8px 8px #eaeaeaff, -2px 0px 8px #eaeaeaff;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border-style: none;
}

.image-container {
  width: 100%;
  height: 70%;
  position: relative;
}

.image-container__label-container {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 2px;
  border-style: none;
  font-weight: 600;
  font-size: 1em;
  padding: 6px 6px;
}

.image-container__label-container--hidden {
  visibility: hidden;
}

.car-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding-bottom: 15px;
}

.main-container {
  height: 71%;
}

.menu-container {
  width: 100%;
  height: 105%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6ff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-style: none;
  margin-top: -50px;
}

.menu-content-frame {
  width: 90%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-frame {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-menu-frame {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-section {
  width: 100%;
  height: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-group {
  width: inherit;
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  height: 85%;
}

.card-menu-frame {
  width: inherit;
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  border-radius: 16px;
  border-style: none;
  background: #ffffffff;
  -webkit-box-shadow: 2px 8px 8px #eaeaeaff, -2px 0px 8px #eaeaeaff;
          box-shadow: 2px 8px 8px #eaeaeaff, -2px 0px 8px #eaeaeaff;
  padding: 16px;
}

.details-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353535ff;
  height: 195px;
}

.main-footer__content {
  height: 80%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav {
  height: 65%;
}

.footer-nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  height: 100%;
}

.link__icon {
  color: #ffffffff;
  margin-right: 15px;
  width: 13px;
  font-size: 1em;
}

.link__a {
  color: #ffffffff;
}

.logo-header {
  width: 45%;
  height: 45%;
}

.logo-header--menu {
  width: 65%;
  height: 65%;
}

.footer-logo {
  width: 35%;
  height: 25%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

p, h2, a {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.circled-num {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #ffffffff;
  text-align: center;
  margin-left: -10px;
  padding-top: 3px;
}

.little-cards-ico {
  width: 20%;
  padding-top: 3px;
  color: #9356DC;
  text-align: center;
}

.little-cards-text {
  font-weight: 400;
}

.card-title {
  font-size: 1em;
  font-weight: 800;
}

.return-link {
  color: black;
  font-size: 1.3em;
}

.menu-title {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

.card-section-title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 200;
  color: #737373;
}

.text-decoration {
  width: 40px;
  height: 1px;
  border: 1px solid #99E2D0;
}

.menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  height: 50px;
  border-radius: 30px;
  border-style: solid;
  color: #ffffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 5px #eaeaeaff, -5px 5px #eaeaeaff;
          box-shadow: 5px 5px 5px #eaeaeaff, -5px 5px #eaeaeaff;
  cursor: pointer;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 5px #eaeaeaff, -5px 5px #eaeaeaff;
          box-shadow: 5px 5px 5px #eaeaeaff, -5px 5px #eaeaeaff;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 7px 7px 8px #eaeaeaff, -7px 8px #eaeaeaff;
          box-shadow: 7px 7px 8px #eaeaeaff, -7px 8px #eaeaeaff;
}

.button--large {
  width: 70%;
}

.button--close {
  width: 50%;
}

.big-card-button {
  border-style: none;
  background-color: #ffffffff;
  cursor: pointer;
}

.big-card-button__svg {
  width: 22px;
  height: 22px;
  stroke: black;
  stroke-opacity: 1;
  stroke-width: 20px;
  fill: url("#gradient");
  fill-opacity: 0;
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.big-card-button__svg:hover {
  stroke-opacity: 0;
  fill-opacity: 1;
}

.image-card {
  width: 100%;
  height: 100%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 45% 55%;
     object-position: 45% 55%;
}

.hero-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

svg {
  height: 0;
  width: 0;
}

.stop-color-start {
  stop-color: #9356DC;
}

.stop-color-end {
  stop-color: #FF79DA;
}

.lds-dual-ring {
  display: inline-block;
  margin-top: 70%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #ffffffff transparent #ffffffff transparent;
  -webkit-animation: lds-dual-ring 1.5s linear 0ms;
          animation: lds-dual-ring 1.5s linear 0ms;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */