*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.main-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-container {
  width: 100%;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place-container {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaeaff;
}

.place-container__texts {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.place-container__texts__text {
  margin-left: 8%;
}

.hero-container {
  background-color: #f6f6f6ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 285px;
}

.hero-container__content-frame {
  width: 80%;
  height: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text-container {
  text-align: center;
}

.hero-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.little-cards-frame {
  width: 90%;
  height: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.little-cards-frame__content {
  height: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.little-cards-frame__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80%;
}

.little-cards-frame__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28%;
  margin-left: 10px;
  border-radius: 16px;
  border-style: none;
  background-color: #f6f6f6ff;
  -webkit-box-shadow: 2px 8px 8px #eaeaeaff, -2px 0px 8px #eaeaeaff;
          box-shadow: 2px 8px 8px #eaeaeaff, -2px 0px 8px #eaeaeaff;
}

.little-cards-frame__card--alt-color {
  background-color: #f2eafb;
}

.little-cards-text-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.big-cards-frame {
  height: 1226px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6ff;
}

.big-cards-frame__content {
  height: 90%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-cards-frame__cards-container {
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-cards-frame__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 23%;
  border-radius: 16px;
  border-style: none;
}

.image-container {
  width: 100%;
  height: 70%;
  position: relative;
}

.image-container__label-container {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 2px;
  border-style: none;
  font-weight: 600;
  font-size: 1em;
  padding: 6px 6px;
}

.car-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-logo {
  width: 48%;
  height: 45%;
  padding-top: 3%;
}

h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

p, h2 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.circled-num {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #ffffffff;
  text-align: center;
  margin-left: -10px;
  padding-top: 3px;
}

.ico {
  width: 20%;
  padding-top: 3px;
  color: #9356DC;
  text-align: center;
}

.little-cards-text {
  font-weight: 400;
}

.button-hero {
  width: 70%;
  height: 50px;
  border-radius: 30px;
  border-style: solid;
  color: #ffffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 5px #eaeaeaff, -5px 5px #eaeaeaff;
          box-shadow: 5px 5px 5px #eaeaeaff, -5px 5px #eaeaeaff;
}

.button-hero:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 5px #eaeaeaff, -5px 5px #eaeaeaff;
          box-shadow: 5px 5px 5px #eaeaeaff, -5px 5px #eaeaeaff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  cursor: pointer;
  -webkit-box-shadow: 7px 7px 8px #eaeaeaff, -7px 8px #eaeaeaff;
          box-shadow: 7px 7px 8px #eaeaeaff, -7px 8px #eaeaeaff;
}

.image-card {
  width: 100%;
  height: 100%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 45% 55%;
     object-position: 45% 55%;
}
/*# sourceMappingURL=main.css.map */