.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-strong-grey;
    &__content {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 34px;
        margin-top: 24px;
    }
}

.footer-nav {
    &__ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
        height: 100%;
    }
}

.link {

    &__icon {
        color: $bg-white;
        margin-right: 15px;
        width: 13px;
        font-size: 1em;
    }

    &__a {
        color: $bg-white;
    }
}