.button {
    border-radius: 30px;
    border-style: solid;
    color: $bg-white;
    padding: 20px;
    @include hero-button-state();
    &:hover {
        @include hero-button-state(1);
    }

    &--large {
        width: 70%;
    }

    &--close {
        width: 50%;
    }
    
}

.big-card-button {
    @include big-card-button-state();

    &__svg{
        width:22px;
        height: 22px;
        stroke: black;
        stroke-opacity: 1;
        stroke-width: 20px;
        fill: url("#gradient");
        fill-opacity: 0;
        transition: all 1500ms;
        &:hover {
            stroke-opacity: 0;
            fill-opacity: 1;
        }
    }
}