.button-hero {
    width: 70%;
    height: 50px;
    border-radius: 30px;
    border-style: solid;
    color: $bg-white;
    @include hero-button-state();
    &:hover {
        @include hero-button-state(1);
    }
}

.big-card-button {
    @include big-card-button-state();

    &__ico{
        font-size: 1.5em;
        transition: all 2000ms;
        &:hover {
            font-weight: 900;
            color: red;
        }
    }
}