.logo-header {
    width: 162px;
    height: 32px;
    &--menu {
        width: 65%;
        height: 65%;
    }
}

.footer-logo {
    margin-bottom: 25px;
    width: 162px;
    height: 32px;
    filter: invert(100%);
}
