h1 {
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

p, h2, a {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.header-title {
    word-break: break-word;
    hyphens: auto;
}

.circled-num {
    display: table;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: $primary-color;
    color: $bg-white;
    margin-left: -10px;
    text-align: center;
    flex-shrink: 0;
}

@for $i from 1 through 3 {
    .circled-num-#{$i}::after {
        content: "#{$i}";
        display: table-cell;
        vertical-align: middle;
        font-size: 18px;
    } 
}

.little-cards-ico {
    width: 20%;
    padding-top: 3px;
    color: $primary-color;
    text-align: center;
    font-size: 18px;
    flex-shrink: 0;
}

.card-text {
    word-break: break-word;
    hyphens: auto;
}

.little-cards-text {
    font-weight: 400;
}

.card-title {
    font-size: 1em;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    &--menu {
        white-space: nowrap;
    }
}

.return-link {
    color: black;
    font-size: 1.1em;
    @media (min-width: 500px) {
        color: white;
    }

}

.menu-title {
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

.card-section-title {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 200;
    color: lighten-color(black, 45%);
}

.text-decoration {
    width: 40px;
    margin-bottom: 13px;
    height: 1px;
    border: 1px solid $third-color;
}

.menu-title {
    display: flex;
    align-items: center;
}

.card-menu-text {
    overflow: hidden;
    font-size: 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price {
    font-weight: 700;
    font-size: 0.8em;
    margin-left: 16px;
}