@use "sass:list";

@function lighten-color($color, $rate) {
    @return lighten($color, $rate);
}


@function darken-color($color, $rate) {
    @return darken($color, $rate)
}

@function block-height($heightvalue, $blocknum, $topinterval: 0, $bottinterval: 0) {
    @return $heightvalue * $blocknum + $topinterval + $bottinterval
}

@function block-height-var($valueset1: (0,0), $valueset2: (0,0), $intervals: (0,0), $topinterval: 0, $bottinterval: 0) {
    @return nth($valueset1, 1)*nth($valueset1, 2) + nth($valueset2, 1)*nth($valueset2, 2) + nth($intervals,1)*nth($intervals , 2) + $topinterval + $bottinterval
}

@mixin hero-button-state($alt: 0) {
    background: linear-gradient($secondary-color, $primary-color);
    box-shadow: 5px 5px 5px $bg-grey, -5px 5px $bg-grey;
    cursor: pointer;

    @if $alt == 1 {
        background: linear-gradient(lighten-color($secondary-color, 5%), lighten-color($primary-color, 5%));
        box-shadow: 7px 7px 8px $bg-grey, -7px 8px $bg-grey;
    }
}

@mixin big-card-button-state($alt: 0) {
    border-style: none;
    background-color: $bg-white;
    cursor: pointer;
    height: 22px;
    width: 22px;

    @if $alt == 1 {
        background: red;
    }
}